html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A4BFB0;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    color: white;
    margin: auto;
    width: 80%;
}
.header {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}

.quote{ text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color:#011126;
    font-size: 1.50em;}

h1{color:#011126;
    text-align: center;
    text-transform: uppercase;}
.section {
    margin: 20px;
    background-color: #dddddd;
    padding: 15px;
    border-radius: 25px;
}

.main {
    background-color:#AED3F2;
    text-align:left;
    padding-bottom: 70px;
    padding-top: 70px;
    color: #011126;
}

h2,h3,h4 {color:#011126;
    text-align: left;}


.footer{ text-align: center;
    padding-top: 100px;}
a:hover {
    color: #011126;
    text-decoration: none;
}
a {color: white;
    text-decoration: none;
    display: inline-block;
    padding: 14px 25px;
}




img {
    float: left;
    clear: top;
    border-radius: 160px;
    border: 5px solid #011126;
    margin: 0px 40px 20px 20px;
    width: 250px;
}
 blockquote {text-align: center;}

table, td, th {
    border: 3px solid;
    border-color: #011126;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    padding: 10px;
}
th {background-color:#011126;
color:white;}

tr:nth-child(even) {background-color: #f2f2f2;}

table{
    border-width: 1px;
    border-color: white;
    text-align: center;
}
 p{text-align: left;}

